.imgContainer{
  margin: auto;
  width: 60vw;
}

.rightt{
  text-align: right;
}

.hood{
  margin: 2em 1em;
}

.guessImg{

}

.options{
  margin: 12vw 25vw;
  ion-button{
    width: 40vw;
  }
}

.guessNav{
  margin: 0 1em;
}

ion-icon{
  font-size: 3em;
}