<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tebak Gambar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="hood">
      <ion-col class="leftt" size="6">
        {{questions? questions[curr].question : null}}
      </ion-col>
      <ion-col class="rightt" size="6">
        Skor : {{score}}
      </ion-col>
    </ion-row>
    <ion-row class="guessImg">
      <ion-col size="12">
        <div class="imgContainer">
          <img src="../../../assets/img/home/tebak_gambar.svg" alt="" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="questions && showChoice" class="options">
      <ion-col *ngFor="let answer of questions[curr].answers" size="12">
        <ion-button
          expand="block"
          (click)="checkAnswer(answer.correct, questions[curr].answers)"
          fill="outline"
        >
          {{answer? answer.answer : null}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="warning">
      <ion-col size="12">
        <ion-text>
          <p class="midd">
            {{warning}}
          </p>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" (click)="nextQuestion()">
          Lanjut
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
