.imgContainer{
  margin: auto;
  width: 60vw;
}

.rightt{
  text-align: right;
}

.midd{
  text-align: center;
}

.hood{
  margin: 2em 1em 0 1em;
}

.guessNav{
  margin: 0 1em;
}

ion-icon{
  font-size: 3em;
}