<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="sidemenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tebak Gambar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>

    <ion-row class="hood">
      <ion-col class="leftt" size="6">
        
      </ion-col>
      <ion-col class="rightt" size="6">
        Skor : {{score}}
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="1">
      </ion-col>
      <ion-col size="10">
        <h3>{{questions? questions[curr].question : null}}</h3>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="questions && questions[curr].image !== null" class="guessImg">
      <ion-col size="12">
        <div class="imgContainer">
          <img [src]="questions[curr].image" alt="" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="showTimer">
      <ion-col size="12" class="ion-text-center">
        Timer : {{timerCount}}
      </ion-col>
    </ion-row>
    
    <!-- Answer Choices -->
    <ion-row *ngIf="questions && showChoice" class="options">
      <ion-col *ngFor="let answer of questions[curr].answers" size="12">
        <ion-button expand="block" (click)="checkAnswer(answer.correct, timerCount, questions[curr].answers)" fill="outline">
          {{answer? answer.answer : null}}
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- After Answer -->
    <ion-row *ngIf="warning">
      <ion-col size="12">
        <ion-text>
          <p class="midd">
            {{warning}}
          </p>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" (click)="nextQuestion()">
          Lanjut
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>