<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Potret Budaya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="picTaken" (click)="runCamera()" expand="full">Take Picture Again</ion-button>
  <ion-button *ngIf="cameraOpened" (click)="takePicture()" expand="full">Take Picture</ion-button>
  <ion-button *ngIf="picTaken" (click)="sharePicture()" expand="full">Share</ion-button>
  <ion-button *ngIf="cameraOpened" (click)="switchCam()" expand="full">Switc Camera</ion-button>
  <div *ngIf="showFrame">
    <div id="frame">
      <img src="assets/img/batik-frame.svg">
    </div>
  </div>
  <div *ngIf="picTaken">
    <div *ngIf="!sharePic">
      <ion-img [src]="photo"></ion-img>
    </div>
    <div *ngIf="sharePic">
      <ion-img [src]="sharePic"></ion-img>
    </div>
  </div>
</ion-content>
