app-potret-budaya ion-content {
    --background: transparent;
}

app-potret-budaya {
    div{
        #frame {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}