<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Potret Budaya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="takePicture()" expand="full">Take Picture</ion-button>
  <ion-button (click)="addFrame()" expand="full">Add Frame</ion-button>
  <ion-button (click)="sharePicture()" [disabled]="!sharePic" expand="full">Share</ion-button>
  <ion-card *ngIf="!photo">
    <ion-card-header>Belum ada foto</ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="photo">
    <ion-card-header>Original</ion-card-header>
    <ion-card-content>
      <ion-img *ngIf="photo" [src]="photo"></ion-img> 
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="photo">
    <ion-card-header>Watermarked</ion-card-header>
    <ion-card-content>
      <img #framedPhoto>
    </ion-card-content>
  </ion-card>
</ion-content>
