<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Potret Budaya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!photo">
    <ion-card-content>
      Belum ada foto
    </ion-card-content>
  </ion-card>
  <img  *ngIf="photo" [src]="photo" >
  <p>{{webpathn}}</p>
  <p>asdsadadadadadsdads</p>
  <ion-fab vertical="bottom" horizontal="right" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
