<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Infografik Wayang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div class="imgContainer">
          <img class="wayang" src="../../../assets/img/home/infografik.svg"   alt="">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="infoWayang">
          <p>
            Proin a risus dui. Aenean malesuada molestie interdum. Ut lobortis est at diam eleifend, non facilisis enim aliquet. Morbi posuere placerat nunc, eu laoreet turpis accumsan non. Etiam at pretium arcu. Praesent eget nunc bibendum, convallis lacus id, pretium eros. Nam malesuada efficitur risus, et porttitor urna pellentesque sed. In lacinia urna ipsum. Nam enim libero, efficitur sed dignissim ac, tempus sit amet turpis. In porta, turpis ac facilisis euismod, augue mauris porta elit, in sodales sem ipsum sed justo. Vivamus faucibus hendrerit sapien id fringilla. In vitae varius lectus, et venenatis est. Ut eu nisl sed libero imperdiet sollicitudin. Phasellus imperdiet ut tellus vel consectetur. Suspendisse lorem mi, fringilla a tortor facilisis, dignissim ultricies nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
