.imgContainer{
  margin: auto auto auto 10vw;
  width: 60vw;
}

.infoWayang{
  border: 2px solid #8d5a3d;
  border-radius: 0.8em;
  padding: 1em;
}

ion-content, ion-card{
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}

ion-card p{
  font-size: 18pt;
}