<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="sidemenu"></ion-menu-button>
      </ion-buttons>
    <ion-title>Infografik</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <h2>Kategori</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let k of infografikType" size="12" (click)="selectKategori(k.type)">
        <ion-card color="primary" class="ion-text-center">
          <ion-card-content>
            <ion-img [src]="k.thumbnail"></ion-img>
            <p>{{k.type}}</p>
          </ion-card-content>
        </ion-card>
        <!-- <ion-button shape="round" size="large" expand="block" (click)="selectKategori(k)">
          {{k}}
        </ion-button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
