<ion-content>
  <ion-slides pager="true" #onboardSlides (ionSlideWillChange)="updateIndex()">
    <ion-slide *ngFor="let onb of onboardingPage" text-center>
      <div class="slide-img">
        <img [src]="onb.image" alt="" />
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="skip()">
        lewati
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="nextSlide()">
        <ion-icon slot="end" name="arrow-dropright"></ion-icon>
        lanjut
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>