<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h1 class='text-center'>Ragam Budaya</h1>
        <p>Developed by : </p>
        <h6>Hanasya Shabrina - 00000014425</h6>
        <h6>Agustinus Nathaniel - 00000014472</h6>
        <h6>Kevin Kelly Isyanta - 00000014910</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
